# Example Jupyter notebook to query Snowflake 

using SQLAlchemy connector and `sqla-raw` library

In [1]:
from raw import db
import pandas as pd

'snowflake://tymbenchprep:tLyipnCg8qhbF8%GeZjE8aFa@wga93983/raw_data_landing/wmx_api_all_tables?warehouse=compute_wh&role=accountadmin'

If you can set `$DATABASE_URL` as an environment variable, that is more secure than including login credentials inline in your notebook, and `sqla_raw` will connect to that by default. This is the recommended configuration. However, it is also possible to connect explicitly here by editing the URL to provide the right username and password in a call to `db.engine()` as shown below.

In [2]:
# Explicit engine connection via `sqla_raw.db.engine()`
# Uncomment below and edit to include appropriate username and password values

# DATABASE_URL="snowflake://<username>:<password>@bjb09468/acca_db/client_data_sharing?warehouse=acca_wh"
# db.engine(DATABASE_URL)

In [3]:
# Define SQL string here. Can also be listed as triple-quoted multiline string, read in from a file, etc.
sql = (
    "select id, name, email, created_at"
    "  from users "
    " where email not like '%benchprep%' "
    " order by created_at desc limit 10"
)

In [4]:
# Pass the query string to `db.result()` for execution against Snowflake
data = db.result(sql)

In [5]:
# Convert result to Pandas DataFrame
df = pd.DataFrame.from_dict(data)
# Display result DataFrame in tabular format (could also plot a viz here, etc.)
df

,id,name,email,created_at
0,46598102,Mohit,iamagrawalmohit@gmail.com,2023-11-08 17:54:45.203253
1,46598042,Stacy Albert,stacyalbert372@gmail.com,2023-11-08 17:53:18.701091
2,46598032,Ayesha Nadeem,034965ayeshanadeem@gmail.com,2023-11-08 17:53:05.121014
3,46598022,Ndyamuhaki John,jndyamuhaki19@gmail.com,2023-11-08 17:52:53.908989
4,46597982,Sadaf Samimi,sadaf.samimi96@gmail.com,2023-11-08 17:51:30.884938
5,46597852,Olive Orikiriza,olyvriza@gmail.com,2023-11-08 17:48:18.197718
6,46597832,Jasna Tarbuk,jasna.tarbuk@gmail.com,2023-11-08 17:47:01.079148
7,46597672,Fawad Ul Haq,fawadacca2020@gmail.com,2023-11-08 17:41:54.138361
8,46597642,Iana Bibik,bibikiana86@gmail.com,2023-11-08 17:40:53.431834
9,46597552,Alin Pascu,alin.pascu@hotmail.co.uk,2023-11-08 17:39:26.247023

In [6]:
data2 = db.result_by_name("sample-query")

In [7]:
df = pd.DataFrame.from_dict(data2)
df

,id,name,email,created_at
0,9221081,Rossana Badiali,rossana.badiali@accaglobal.com,2020-08-04 04:17:38.179767
1,9221091,Siobhan Mcentee,siobhan.mcentee@accaglobal.com,2020-08-04 04:18:47.349379
2,9221111,Claire Prior,claire.prior@accaglobal.com,2020-08-04 04:19:55.882463
3,9221121,Iain Dickens,iain.dickens@accaglobal.com,2020-08-04 04:20:50.434868
4,9221131,Diane Tan,diane.tan@accaglobal.com,2020-08-04 04:21:39.061279
5,9221141,Barry ACCA,barry.walsh@accaglobal.com,2020-08-04 04:22:23.586807
6,9606571,Gillian Logue,gillian.logue@accaglobal.com,2020-08-20 13:22:34.198757
7,9647381,Ben Gottlieb,bengottlieb+acca@eightbitstudios.com,2020-08-21 18:51:46.093726
8,9727201,Test Live One Acca,test21acca@gmail.com,2020-08-24 15:37:35.626703
9,9774261,SPD test10 Do not suspend,katarzyna.lickiewicz@accaglobal.com,2020-08-25 14:16:16.922811