# Example Jupyter notebook to query Snowflake 

using SQLAlchemy connector and `sqla-raw` library

In [11]:
from raw import db
import pandas as pd

If you can set `$DATABASE_URL` as an environment variable, that is more secure than including login credentials inline in your notebook, and `sqla_raw` will connect to that by default. However, it is also possible to connect explicitly here by editing the URL to provide the right username and password in a call to `db.engine()` as shown below.

In [12]:
# Explicit engine connection via `sqla_raw.db.engine()`
# Comment out/don't run this cell if using `$DATABASE_URL` as envar:
db.engine(DATABASE_URL="snowflake://<username>:<password>@bjb09468/acca_db/client_data_sharing?warehouse=acca_wh")

In [13]:
# Define SQL string here. Can also be listed as triple-quoted multiline string, read in from a file, etc.
sql = (
    "select id, name, email, created_at"
    "  from users "
    " where email not like '%benchprep%' "
    " order by created_at desc limit 10"
)

In [14]:
# Pass the query string to `db.result()` for execution against Snowflake
data = db.result(sql)

In [15]:
# Convert result to Pandas DataFrame
df = pd.DataFrame.from_dict(data)
# Display result DataFrame in tabular format (could also plot a viz here, etc.)
df

,id,name,email,created_at
0,44308202,Blade Downing,bladedowning@hotmail.com,2023-09-19 20:02:09.042312
1,44308002,Mustafa Suhel,mfksuhel@gmail.com,2023-09-19 19:52:18.792365
2,44307942,Anna Machengo,machengoanna@gmail.com,2023-09-19 19:49:45.305344
3,44307892,Nehala Puthenpeedikayil Subeer,nehalaps2004@gmail.com,2023-09-19 19:48:49.663975
4,44307802,Jacob Robins,jacob.j.robins@gmail.com,2023-09-19 19:45:57.704910
5,44307742,Mustafe Abdulahi Mohamoud,mustafemahamoud859@gmail.com,2023-09-19 19:43:59.512383
6,44307302,Hadiya Karim Khan,hadiyakhan058@gmail.com,2023-09-19 19:32:27.602171
7,44307092,Ahmed Hassan Ali,harbihassan98@gmail.com,2023-09-19 19:27:47.666077
8,44306982,Saqib Javed,maliksaqi17027@gmail.com,2023-09-19 19:24:25.473315
9,44306402,Daniel Gallagher,dangallagher@ymail.com,2023-09-19 19:09:03.240423